<h1>Editing nutrition log</h1>

<%= render "form", nutrition_log: @nutrition_log %>

<br>

<div>
  <%= link_to "Show this nutrition log", @nutrition_log %> |
  <%= link_to "Back to nutrition logs", nutrition_logs_path %>
</div>
