<p style="color: green"><%= notice %></p>

<h1>Nutrition logs</h1>
<%= link_to "New nutrition log", new_nutrition_log_path %>
<hr class="hr hr-blurry" />
<div id="nutrition_logs">
  <% @nutrition_logs.each do |nutrition_log| %>
    <%= render nutrition_log %>
    <p>
      <%= link_to "Show this nutrition log", nutrition_log %>
    </p>
    <hr class="hr hr-blurry" />
  <% end %>
</div>

