<div id="<%= dom_id comment %>">
  <p>
    <strong>Post:</strong>
    <%= comment.post_id_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= comment.user_id_id %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= comment.text %>
  </p>

</div>
