<div id="<%= dom_id workout_log %>">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><strong>Created At:</strong><%= workout_log.created_at %></h5>
      <h6 class="card-subtitle mb-2 text-muted"><%= workout_log.regimen %></h6>
      <p class="card-text"><%= workout_log.description %></p>
    </div>
  </div>
</div>
