<div id="<%= dom_id workout_log %>">
  <p>
    <strong>Regimen:</strong>
    <%= workout_log.regimen %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= workout_log.description %>
  </p>

</div>
