<div id="<%= dom_id workout_log %>">
  <p>
    <strong>User:</strong>
    <%= workout_log.user_id %>
  </p>

  <p>
    <strong>Regimen:</strong>
    <select name="regimen">
      <option value="Cardio">Cardio</option>
      <option value="Upper">Upper</option>
      <option value="Lower">Lower</option>
      <option value="Full">Full</option>
      <option value="Sport">Sport</option>
      <option value="Recovery">Recovery</option>
    </select>
  </p>

  <p>
    <strong>Description:</strong>
    <%= workout_log.description %>
  </p>

</div>
