<h1>Editing workout log</h1>

<%= render "form", workout_log: @workout_log %>

<br>

<div>
  <%= link_to "Show this workout log", @workout_log %> |
  <%= link_to "Back to workout logs", workout_logs_path %>
</div>
