<p style="color: green"><%= notice %></p>

<h1>Your Daily Workout Logs</h1>
<hr class="hr hr-blurry" />
<div id="workout_logs">
  <% @workout_logs.each do |workout_log| %>
    <%= render workout_log %>
    <p>
      <%= link_to "Show this workout log", workout_log %>
    </p>
  <% end %>
</div>

<%= link_to "New workout log", new_workout_log_path %>
