<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Workouts<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">Nutrition</a>
      <a class="nav-item nav-link" href="#">Social</a>
      <a class="nav-item nav-link" href="#">Medals</a>
    </div>
    <form class="">
        <% if !user_signed_in? %>
          <%= link_to 'Log In', new_user_session_path, class:"btn btn-outline-success"%>
          <%= link_to 'Become member', new_user_registration_path, class:"btn btn-outline-success"%>
        <% else %>
          <%= current_user.email %>
          <%= link_to 'Sign out', destroy_user_session_path, class:"btn btn-outline-success"%>
        <% end %>
      </form>
  </div>
</nav>
