<form>
  <div
  class="bg-image"
  style="
    background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fstock.adobe.com%2Fsearch%3Fk%3Dgym%2Bbackground&psig=AOvVaw2dMhsjGvpzHUW3f84afASj&ust=1713402292092000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCPi1p42HyIUDFQAAAAAdAAAAABAE');
    height: 100vh;
  "
></div>

  <!-- Username input -->
  <div data-mdb-input-init class="form-outline mb-4">
    <input type="username" id="form2Example1" class="form-control" />
    <label class="form-label" for="form2Example1">Username</label>
  </div>

  <!-- Password input -->
  <div data-mdb-input-init class="form-outline mb-4">
    <input type="password" id="form2Example2" class="form-control" />
    <label class="form-label" for="form2Example2">Password</label>
  </div>

  <!-- Submit button -->
  <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">Sign in</button>

  <!-- Register buttons -->
  <div class="text-center">
    <p>Not a member? <a href="#!">Register</a></p>
  </div>
</form>
