<%= stylesheet_link_tag 'nutritionLog' %>
<h1>Daily Nutrition Log</h1>
<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Calories Consumed</th>
      <th>Current Sleep Hours</th>
      <th>Protein Intake</th>
      <th>Max Calories</th>
      <th>Min Sleep Hours</th>
      <th>Min Protein Intake</th>
    </tr>
  </thead>
  <tbody>
    <% @workoutlogs.each do |workoutlog| %>
      <tr>
        <td>
          
        </td>
        <td>
         
        </td>
        <td>
          
        </td>
        <td>
          
        </td>
        <td>
          
        </td>
        <td>
          
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

