<%= stylesheet_link_tag 'nutritionLog' %>
<section class="intro">
  <div class="gradient-custom-2 h-100">
    <div class="mask d-flex align-items-center h-100">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12">
            <div class="table-responsive">
              <table class="table table-dark table-bordered mb-0">
                <thead>
                  <tr>
                    <th scope="col">TYPE</th>
                    <th scope="col">TODAY'S AMOUNT</th>
                    <th scope="col">MAX/MIN AMOUNT</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Calories</th>
                    <td>
                      <div class="form-outline" data-mdb-input-init>
                        <input type="text" id="form12" class="form-control" />
                        <label class="form-label" for="form12">Today's Calories</label>
                      </div>
                    </td>
                    <td>2000C (MAX)</td>
                  </tr>

                  <tr>
                    <th scope="row">Protein</th>
                    <td>
                      <div class="form-outline" data-mdb-input-init>
                        <input type="text" id="form12" class="form-control" />
                        <label class="form-label" for="form12">Today's Protein</label>
                      </div>
                    </td>
                    <td>120g (MIN)</td>
                  </tr>

                  <tr>
                    <th scope="row">Sleep</th>
                    <td>
                      <div class="form-outline" data-mdb-input-init>
                        <input type="text" id="form12" class="form-control" />
                        <label class="form-label" for="form12">Today's Sleep</label>
                      </div>
                    </td>
                    <td>8hr (MIN)</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
