<table class="table">
  <thead>
    <tr>
      <th scope="col">Day</th>
      <th scope="col">Type</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @workoutlogs.each do |workoutlog| %>
      <tr>
        <td>
          <%= workoutlog.day %>
        </td>
        <td>
            <%= workoutlog.type %>
        </td>
        <td>
          <%= link_to "Show", show_workoutlog_path(workoutlog) %>
        </td>
      </tr>
    end
  </tbody>
</table>
<%= link_to "New Workout", new_workoutlog_path %>
