<table class="table">
  <thead>
    <tr>
      <th scope="col">Day</th>
      <th scope="col">Type</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @workoutlogs.each do |workoutlog| %>
      <tr>
        <td>
          <a href="<%= workoutlog_path(workoutlog) %>">
            <%= workoutlog.day %>
          </a>
        </td>
        <td>
          <a href="<%= workoutlog_path(workoutlog) %>">
            <%= workoutlog.type %>
          </a>
        </td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
  </tbody>
</table>
